#temporarily ignoring this folder since it's not currently possible to upload files greater than 100mb
Assets/_Materials/Imported/TerrainTexturesPackFree/TerrainTextures/*
.vscode


# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*
Logs/
UserSettings/
Build/
Builds/
*.pidb.meta
sysinfo.txt

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.consulo/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.tmp
*.pdb
/.vs/

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
